<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulaire</title>
    {% load static %}
  <link rel="stylesheet" href="{%static 'medias/ajout.css' %}" type="text/css">
</head>
<body>
<nav> <a class="nav1" href="/stockpaire/home">Accueil</a><a class="nav2" href="/stockpaire/ajoutpaire">Ajouter une paire</a></nav>
<form method="post" action="/stockpaire/traitement/">
        {% csrf_token %} <!-- code permettant de protéger votre application en évitant
de rejouer un formulaire avec des droits différents -->
        {{ form1.as_ul }} <!-- permet d'afficher tous les champs sous forme d'une liste
-->
        <input type="submit" value="envoyer les données"\>
    </form>
</body>
</html>